{% load static %}

<header>

<nav class="navbar">
  <div class="container-fluid">
    <a class="navbar-brand">
        <img src="{% static 'img/netflix-log.png' %}" alt="logo" class="logo" >
        </a>
        <button class="btn button" id="button" type="submit">Signup</button>
  </div>
</nav>
<main class="banner-content">
<h1>  Unlimited movies, TV shows, and more </h1>

<p class="fw-bold">Starts at ₦2,200. Cancel anytime.</p>

<p> Ready to watch? Enter your email to create or restart your membership.</p>

<div>
<form class="d-flex" role="search">
      <div class="one me-3"><input class="form-control me-2 w-100 get-started" type="Email" placeholder="Email adress" aria-label="Search"/></div>
      <div class="two"><button class="btn w-100" id="button" type="submit">Get started</button></div>
    </form>
    </div>
</main>





</header>