{% extends "_base.html" %}
{%load static%}

{% block content %}

{% load static %}

<header>

<nav class="navbar">
  <div class="container-fluid">
    <a class="navbar-brand">
        <img src="{% static 'img/netflix-log.png' %}" alt="logo" class="logo" >
        </a>
        <button class="btn button" id="button" type="submit">Signup</button>
  </div>
</nav>
<main class="banner-content">
<h1>  Unlimited movies, TV shows, and more </h1>

<p class="fw-bold">Starts at ₦2,200. Cancel anytime.</p>

<p> Ready to watch? Enter your email to create or restart your membership.</p>

<div>
<form class="d-flex" role="search">
      <div class="one me-3"><input class="form-control me-2 w-100 get-started" type="Email" placeholder="Email adress" aria-label="Search"/></div>
      <div class="two"><button class="btn w-100" id="button" type="submit">Get started</button></div>
    </form>
    </div>
</main>


</header>

<footer class="container">
 
    <main class="row footer-1">
        <div class="col">
            <p>Ready to watch? Enter your email to create or restart your membership.</p>
        <div class="w-75 mx-auto">
   <form class="d-flex" role="search">
      <div class="one me-3"><input class="form-control me-2 w-100 get-started" type="search" placeholder="email adress" aria-label="Search"/></div>
      <div class="two"><button class="btn w-100" id="button" type="submit">Get Started</button></div>
    </form>
    </div>

    <p class="last-p mt-5 pt-5"><a href=#>Questions? Contact us.</a></p>
        </div>

    </main>
  

    <main class="row">
      <div class="col">
      <ul class="footer-grid">  
        <li><a href="#"> FAQ </a></li>
         <li><a href='#'>Help Center </a></li>
         <li><a href="#">Account </a></li>
         <li><a href="#">Media Center </a></li>
         <li><a href="#">Investor Relations </a></li>
         <li><a href="#">Jobs    </a></li>
         <li><a href="#">Ways to Watch </a></li>
         <li><a href="#">Terms of Use </a></li>
         <li><a href="#">Privacy </a></li>
         <li><a href="#">Cookie Preferences </a></li>
         <li><a href="#">Corporate Information </a></li>
         <li><a href="#">Contact Us </a></li>
         <li><a href="#">Speed Test </a></li>
        <li><a href="#"> Legal Notices </a></li>
        <li><a href="#">Only on Netflix </a></li>
      </ul> 
      </div>
     

    </main>


    <main class="row">
      <div class="col">

<form action=" " method="get">

    <select name="" id="">
      <option value="English">English</option>

    </select>
</form>


          <p>Netflix Nigeria</p>
          <p> This page is protected by Google reCAPTCHA to ensure you're not a bot. Learn more.</p>

      </div>
    </main>

</footer>





{% endblock %}